    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: "Sen", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #5E678C;
        overflow-x: hidden;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    a:focus,
    input:focus,
    textarea:focus,
    button:focus,
    .btn:focus,
    .btn.focus,
    .btn:not(:disabled):not(.disabled).active,
    .btn:not(:disabled):not(.disabled):active {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }
    
    a:hover {
        color: #3E54FF;
    }
    
    a {
        transition: all 0.3s ease-out 0s;
    }
    
    a,
    a:focus,
    a:hover {
        text-decoration: none;
    }
    
    i,
    span,
    a {
        display: inline-block;
    }
    
    audio,
    canvas,
    iframe,
    img,
    svg,
    video {
        vertical-align: middle;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        margin: 0px;
        color: #333;
    }
    
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: inherit;
    }
    
    h1 {
        font-size: 40px;
    }
    
    @media (max-width: 767px) {
        h1 {
            font-size: 34px;
        }
    }
    
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        h1 {
            font-size: 36px;
        }
    }
    
    h2 {
        font-size: 36px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    h6 {
        font-size: 16px;
    }
    /****************************** Preloader Begin ******************************/
    
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999999;
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow: hidden;
    }
    
    .preloader-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .preloader-icon {
        width: 100px;
        height: 100px;
        display: inline-block;
        padding: 0px;
    }
    
    .preloader-icon span {
        position: absolute;
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background: #1f5aff;
        -webkit-animation: preloader-fx 1.6s linear infinite;
        animation: preloader-fx 1.6s linear infinite;
    }
    
    .preloader-icon span:last-child {
        animation-delay: -0.8s;
        -webkit-animation-delay: -0.8s;
    }
    
    @keyframes preloader-fx {
        0% {
            transform: scale(0, 0);
            opacity: 0.5;
        }
        100% {
            transform: scale(1, 1);
            opacity: 0;
        }
    }
    
    @-webkit-keyframes preloader-fx {
        0% {
            -webkit-transform: scale(0, 0);
            opacity: 0.5;
        }
        100% {
            -webkit-transform: scale(1, 1);
            opacity: 0;
        }
    }
    /****************************** Preloader End ******************************/
    /****************************** Header Begin ******************************/
    /****************************** Toolbar Begin ******************************/
    
    .header .toolbar-area {
        padding: 6px 0;
        border-bottom: 1px solid #eee;
        background: #fff;
    }
    
    .header .toolbar-area .toolbar-contact p,
    a {
        font-size: 16px;
        font-family: ToolbarFont;
        color: #aaa;
        text-decoration: none;
    }
    
    .header .toolbar-area .toolbar-contact p a:hover {
        color: #4d6de6;
    }
    
    .header .toolbar-area .toolbar-sl-share ul {
        float: right;
        margin-top: 4px;
    }
    
    .header .toolbar-area .toolbar-sl-share ul li {
        margin: 0;
        text-align: center;
        display: inline-block;
        height: 16px;
        margin-right: 5px;
    }
    
    .header .toolbar-area .toolbar-sl-share ul li:last-child {
        margin-right: 0;
    }
    /****************************** Toolbar End ******************************/
    /****************************** Navbar Begin ******************************/
    
    .navbar-area {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        transition: all 0.3s ease-out 0s;
        padding: 0;
        opacity: 90%;
    }
    
    .navbar-area.header-3 {
        background: #fff;
    }
    
    .navbar-area.sticky {
        position: fixed;
        z-index: 99;
        background: #3E54FF;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease-out 0s;
        background: #fff;
        padding: 0px 0;
    }
    
    .navbar-area.sticky .toolbar-area {
        display: none;
    }
    
    .header {
        background-color: #fff;
    }
    
    .navbar {
        padding: 0;
        position: relative;
        transition: all 0.3s ease-out 0s;
    }
    
    .navbar-brand {
        padding: 0;
    }
    
    .navbar-brand img {
        width: 160px;
    }
    
    .navbar-toggler {
        padding: 0px;
    }
    
    .navbar-toggler:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }
    
    .navbar-toggler .toggler-icon {
        width: 30px;
        height: 2px;
        background-color: #222;
        display: block;
        margin: 5px 0;
        position: relative;
        transition: all 0.3s ease-out 0s;
    }
    
    .navbar-toggler.active .toggler-icon:nth-of-type(1) {
        transform: rotate(45deg);
        top: 7px;
    }
    
    .navbar-toggler.active .toggler-icon:nth-of-type(2) {
        opacity: 0;
    }
    
    .navbar-toggler.active .toggler-icon:nth-of-type(3) {
        transform: rotate(135deg);
        top: -7px;
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-collapse {
            position: absolute;
            top: 165% !important;
            left: 0;
            width: 100%;
            background-color: #fff;
            z-index: 9;
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
            padding: 10px 20px;
            max-height: 350px;
            overflow-y: scroll;
        }
    }
    
    @media (max-width: 767px) {
        .navbar-collapse {
            position: absolute;
            top: 165% !important;
            left: 0;
            width: 100%;
            background-color: #fff;
            z-index: 9;
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
            padding: 10px 20px;
            max-height: 350px;
            overflow-y: scroll;
        }
    }
    
    .navbar-nav .nav-item {
        position: relative;
        z-index: 1;
    }
    
    .navbar-nav .nav-item:hover a {
        color: #3E54FF;
    }
    
    .navbar-nav .nav-item a {
        font-size: 16px;
        font-family: MenuFont;
        color: #051441;
        transition: all 0.3s ease-out 0s;
        position: relative;
        padding: 32px 15px;
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        color: #333;
        transition: all 0.3s ease-out 0s;
        position: relative;
        text-transform: capitalize;
    }
    
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .navbar-nav .nav-item a {
            padding: 32px 12px;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
        .navbar-nav .nav-item a {
            color: #051441;
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
        }
        .nav-inner {
            padding: 25px 0;
        }
    }
    
    .navbar-nav .nav-item a.active {
        color: #3E54FF;
    }
    
    .navbar-nav .nav-item a.dd-menu {
        padding-right: 34px;
    }
    
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .navbar-nav .nav-item a.dd-menu {
            padding-right: 30px;
        }
    }
    
    .navbar-nav .nav-item a.dd-menu::after {
        content: "\ea58";
        font: normal normal normal 1em/1 "LineIcons";
        position: absolute;
        right: 17px;
        font-size: 10px;
        top: 50%;
        margin-left: 5px;
        margin-top: 0px;
        transition: all 0.3s ease-out 0s;
        height: 10px;
        margin-top: -5px;
    }
    
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .navbar-nav .nav-item a.dd-menu::after {
            right: 13px;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
        .navbar-nav .nav-item a.dd-menu::after {
            top: 16px;
            right: 0;
            transform: rotate(180deg);
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
        .navbar-nav .nav-item a.collapsed::after {
            transform: rotate(0deg);
        }
    }
    
    .navbar-nav .nav-item:hover>.sub-menu {
        top: 100%;
        opacity: 1;
        visibility: visible;
    }
    
    .navbar-nav .nav-item:hover>.sub-menu .sub-menu {
        left: 100%;
        top: 0;
    }
    
    .navbar-nav .nav-item .sub-menu {
        min-width: 220px;
        background-color: #fff;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 100% !important;
        left: -8px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out 0s;
        padding: 10px;
    }
    
    .navbar-nav .nav-item .sub-menu.left-menu {
        left: -100%;
    }
    
    .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
        display: block;
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
        .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
            display: none;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
        .navbar-nav .nav-item .sub-menu {
            position: static;
            width: 100%;
            opacity: 1;
            visibility: visible;
            box-shadow: none;
            padding: 0;
            margin: 0;
        }
        .navbar-nav .nav-item .sub-menu::after {
            display: none;
        }
    }
    
    .navbar-nav .nav-item .sub-menu>li {
        display: block;
        margin-left: 0;
    }
    
    .navbar-nav .nav-item .sub-menu>li:last-child {
        border: none;
    }
    
    .navbar-nav .nav-item .sub-menu>li.active>a,
    .navbar-nav .nav-item .sub-menu>li:hover>a {
        color: #3E54FF;
    }
    
    .navbar-nav .nav-item .sub-menu>li>a {
        font-weight: 400;
        display: block;
        padding: 10px 15px;
        font-size: 14px;
        color: #222;
        border-top: 1px solid rgba(0, 0, 0, 0.03);
        font-weight: 400;
    }
    
    .navbar-nav .nav-item .sub-menu>li:first-child a {
        border: none;
    }
    
    .navbar-nav .nav-item .sub-menu>li>a:hover {
        background: rgba(0, 0, 0, 0.05);
        color: #3E54FF;
    }
    /****************************** Navbar End ******************************/
    /****************************** Header End ******************************/
    /****************************** Scroll Begin ******************************/
    
    .scroll-top {
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 9;
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .scroll-top:hover {
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    /****************************** Scroll End ******************************/
    /****************************** Footer Begin ******************************/
    
    .footer {
        font-family: ToolbarFont;
    }
    
    .footer .footer-bottom .inner {
        padding: 30px 0;
    }
    
    .footer .footer-bottom p {
        color: #555;
    }
    
    .footer .footer-bottom p a {
        font-weight: 400;
        display: inline-block;
        margin-left: 6px;
        color: #333;
    }
    
    .footer .footer-bottom p a:hover {
        color: #3E54FF;
    }
    /****************************** Footer End  ******************************/